body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .WorkingContainer .MuiPaper-paper {
  background-color: none !important
} */
.WorkingContainer{
  /* margin-top: '25vh' */
}

.MuiDrawer-paper {
  position: relative !important;
  overflow: auto;
  /* background-color: '#00695c' !important; */
}
